/* SECTION */

.section--light {
  background-color: var(--color-bg-medium);
}

/* BUTTON */

.button {
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-text);
  cursor: pointer;
  background: none;
  border: none;
  border-radius: var(--border-10);
  transition: background-color 0.4s;
}

.button--primary {
  background: var(--color-primary);
}

.button--primary:hover {
  background: var(--color-primary-hover);
}

.button--ghost {
  border: 1px solid var(--color-stroke);
}

.button--ghost:hover {
  background: var(--color-bg-medium);
}

@media (max-width: 480px) {
  .button {
    padding: 12px 32px;
  }
}