/* SECTION */

.section--light {
  background-color: var(--color-bg-medium);
}

/* BUTTON */

.button {
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-text);
  cursor: pointer;
  background: none;
  border: none;
  border-radius: var(--border-10);
  transition: background-color 0.4s;
}

.button--primary {
  background: var(--color-primary);
}

.button--primary:hover {
  background: var(--color-primary-hover);
}

.button--ghost {
  border: 1px solid var(--color-stroke);
}

.button--ghost:hover {
  background: var(--color-bg-medium);
}

@media (max-width: 480px) {
  .button {
    padding: 12px 32px;
  }
}

/* SOCIAL */

.social-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.social-icons__icon {
  width: 48px;
  height: 48px;
  padding: 11px;
  text-decoration: none;
  border: 1px solid var(--color-stroke);
  border-radius: var(--border-8);
}

.social-icons__icon:hover {
  background-color: var(--color-bg-medium);
}