@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Regular.woff") format("woff"), url("../fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Bold.woff") format("woff"), url("../fonts/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #6c38cc;
  --color-primary-hover: #35186f;
  --color-secondary: #e47ad5;
  --color-text: #fafafa;
  --color-link-hover: #afb2bf;
  --color-bg: #16171d;
  --color-bg-light: #2e2d3d;
  --color-bg-medium: #1e1f29;
  --color-stroke: #4d5064;
  --color-footer: #101114;

  --gradient: linear-gradient(158deg, #d77be5 0%, #be63e5 34.69%, #6c38cc 100%);

  --border-8: 8px;
  --border-10: 10px;
  --layout-width: 1220px;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  background: var(--color-bg);
}

a {
  text-decoration: none;
}

