.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 40px 24px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero__h1 {
  margin: 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 100%;
  color: var(--color-text);
}

.hero__h1--gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__cta {
  display: flex;
  gap: 32px;
}

.button-more {
  text-align: center;
}

.chip-wrapper {
  display: flex;
  overflow: scroll;
  gap: 24px;
  margin-right: -24px;
  margin-bottom: 32px;
  margin-left: -24px;
  padding-left: 24px;
  scrollbar-width: none;
}

.chip-wrapper::-webkit-scrollbar {
  display: none;
}

.courses-wrapper {
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.trust-wrapper {
  display: grid;
  gap: 0 75px;
  grid-template-columns: [start] repeat(3, 1fr) [end];
}

.trust-wrapper__top {
  grid-column: start / end;
}

.trust-wrapper__stat {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 70px;
}

.trust-wrapper__num {
  font-size: 46px;
  font-weight: 700;
  line-height: 120%;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trust-wrapper__desc {
  font-size: 18px;
  line-height: 120%;
  color: var(--color-text);
}

.trust-wrapper__h3 {
  font-size: 36px;
  line-height: 120%;
  color: var(--color-text);
  grid-column: start / end;
}

.trust-wrapper__rating {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 70px;
}

.trust-wrapper__rate {
  font-size: 54px;
  line-height: 120%;
  color: var(--color-text);
}

@media (max-width: 1200px) {
  .hero {
    flex-direction: column;
  }

  .hero__h1 {
    text-align: center;
  }

  .hero__cta {
    justify-content: center;
  }

  .trust-wrapper {
    grid-template-columns: [start] repeat(2, 1fr) [end];
  }
}

@media (max-width: 640px) {
  .hero {
    padding: 0 24px;
  }

  .hero__h1 {
    font-size: 30px;
    line-height: 120%;
  }

  .hero__right {
    width: 100%;
  }

  .trust-wrapper {
    grid-template-columns: [start] 1fr [end];
  }
}

@media (max-width: 480px) {
  .hero__cta {
    gap: 16px;
  }
}
